/* src/organisms/layout/AppShell/AppShell.module.css */
.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: var(--color-bg-base);
    padding-left: 36px;
    padding-right: 36px;
}

.headerInner { min-height: 72px; }
.footerInner { }

.main {
    /* 전역 본문은 가운데 정렬된 컨테이너(섹션 레이아웃이 내부에서 다시 그리드 구성) */
    display: block;
    width: 100%;
}
