/* 
src/atoms/SidebarOptionItem/SidebarOptionItem.module.css
*/

.item {
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: left;
    transition: background-color 0.2s ease, transform 0.05s ease;
}
.item:hover {
    /* background-color: #f3f4f6; */
    background-color: var(--color-hover-on-white);
}
.item:active {
    transform: translateY(1px);
}
.active {
    font-weight: 800;
    background-color: var(--color-menu-selected-bg);
}
.active .label {
    font-size: 16px; /* 선택 시 약간 크게 표시 */
}
.label {
    font-size: 14px;
    color: #111827;
}
